
[Dd]ebug
[Rr]elease
[Bb]in
[Oo]bj
[Pp]ackages

*.pdb
*.obj
*.suo
*.csproj.user
*.vbproj.user
*.dtproj.user
*.vspscc

_ReSharper.*/
*resharper.user
_ReSharper*
*.resharper.user
*.resharper
*.sln.DotSettings*
*.sln.ide
*.orig
/.vs
**/Microsoft.Build.Utilities.v3.5.resources.dll