<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="PluginLocation" value="" />
    <add key="InformationBlockSize" value="100" />
    <add key="ColorScheme" value="38.67.88,61.107.141,180.97.15,98.128.40,158.64.55,255.255.255,51.51.51" />
  </appSettings>
</configuration>